<div class="row">
	<% if signed_in? %>
	<aside class="col-md-3">
		<section class="row">
	      	<%= link_to current_user do%>
	      		<%= gravatar_for current_user %>
	      	<% end %>
	  		<b><%= current_user.name %></b>
	  		<%= link_to 'view my profile', current_user, class: 'view-profile block' %>
	  		<span class="block"><%= pluralize(current_user.microposts.count, 'micropost')%></span>
		</section>
		<section class="row">
			<%= render 'shared/stats'%>
		</section>
		<section class="row">
			<%= form_for(@micropost) do |f| %>
  			<%= render 'shared/error_messages', object: f.object %>
  			<div class="form-group">
    			<%= f.text_area :content, placeholder: "Compose new micropost...", class: 'form-control post-content' %>
  			</div>
  			<%= f.submit "Post", class: "btn btn-primary" %>
			<% end %>
		</section>
	</aside>

	<aside class="col-md-9">
		<h3 class="title-microposts">Micropost Feed</h3>
		<ul class="user-microposts">
			<% unless @feed_items.nil? %>
				<% @feed_items.each do |feed_item| %>
					<li>
						<a href="<%= user_path feed_item.user %>">
							<%= gravatar_for feed_item.user%>
						</a>
						<p><%= feed_item.content %></p>
						<small class="text-muted">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</small>
						<% if current_user?(feed_item.user) %>
    						<%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
  						<% end %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</aside>
	<% else %>
	<div class="jumbotron">
  		<h1>Welcome to the Tweety app</h1>
  		<p>This is the home page for <a href="http://railstutorial.org" target="_blank">Ruby on Rails</a> sample application</p>
  		<p><%= link_to 'Sign up now!', sign_up_path, class: 'btn btn-primary btn-lg', role: 'button' %></p>
	</div>
	<% end %>
	
</div>