<h2><%= pluralize(@users.count, 'User') %> Found </h2>
<div class="row" id="users">
	<% @users.each do |user| %>
	<div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, class: 'user-delete' %>
      <% end %>
      <%= gravatar_for(user, size: "100%", gravatar: false) %>
      <div class="caption" style="text-align: center">
        <h4><%= user.name %></h4>
        <p>Just enjoy the show</p>
        <p><%= link_to 'View Profile', user, class: 'btn btn-link' %></p>
      </div>
    </div>
  </div>
	<% end %>
</div>
<%= link_to 'New User', new_user_path, class: 'btn btn-success' %>