<div class="row">
	<aside class="col-md-3">
		<section class="row">
	      	<%= gravatar_for @user %>
	  		<b><%= @user.name %></b>
	  		<%= link_to 'view my profile', @user, class: 'view-profile block' %>
	  		<span class="block"><%= pluralize(@user.microposts.count, 'micropost')%></span>
		</section>
		<section class="row">
			<%= render 'shared/stats'%>
		</section>
	</aside>

	<aside class="col-md-9">
		<h3 class="title-microposts"><%= @title%></h3>
		<ul class="followers-following">
			<% unless @users.nil? %>
				<% @users.each do |user| %>
					<li>
						<%= gravatar_for user%>
						<%= link_to user.name, user_path(user) %>
						<p class="text-muted"><%= user.email %></p>
					</li> 
				<% end %>
			<% end %>
		</ul>
	</aside>
</div>