<div class="row">
	<aside class="col-md-3">
		<section class="row">
	      	<%= link_to @user do%>
	      		<%= gravatar_for @user %>
	      	<% end %>
	  		<b><%= @user.name %></b>
		</section>
		<section class="row">
			<%= render 'shared/stats'%>
		</section>
	</aside>
	<aside class="col-md-9">
		<% unless current_user?@user %>
			<% if current_user.following?@user %>
				<%= link_to 'Unfollow', relationship_path(current_user.relationships.find_by(followed_id: @user.id)), class: 'btn btn-lg btn-default', method: :delete %>
			<% else %>
				<%= link_to 'Follow', relationships_path(followed_id: @user.id), class: 'btn btn-lg btn-primary', method: :post %>
			<% end %>
		<% end %>
		<% if @user.microposts.any? %>
			<h3 class="title-microposts">Microposts (<%= @user.microposts.count%>)</h3>
			<ul class="user-microposts">
					<% @user.microposts.each do |micropost| %>
						<li>
							<p><%= micropost.content %></p>
							<small class="text-muted">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</small>
							<% if current_user?(micropost.user) %>
	    						<%= link_to "delete", micropost, method: :delete,
	                                     data: { confirm: "You sure?" },
	                                     title: micropost.content %>
	  						<% end %>
						</li>
					<% end %>
			</ul>
		<% end %>
	</aside>
</div>