<% @user ||= current_user%>
<div class="stats">
	<a href="<%= following_path(@user)%>"><strong><%= @user.followed_users.count%></strong> following</a>
	<a href="<%= followers_path(@user)%>"><strong><%= @user.followers.count%></strong> followers</a>
</div>