/* Users */
img.user-profile {
	height: 50px;
	width: 55px;
}

.user-delete {
	position: absolute;
}

#users .thumbnail img {
	margin-top: 20px;
}

img.user-profile, img.gravatar {
	float: left;
	padding-right: 10px;
}

aside section:first-child {
	border: 0;
	padding-top: 0
}

aside section {
	padding: 10px 0;
	border-top: 1px solid #eeeeee;
}

.block {
	display: block;
}

.stats {
	margin-top: 5px;
}

.stats a {
	border-left: 1px solid #eeeeee;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
}

.stats a:first-child {
	border: 0;
	padding-left: 0;
}

.stats strong {
	display: block;
}

/* Micropost */
textarea.post-content {
	resize: vertical;
}

.title-microposts {
	padding-top: 7px;
}

ul.user-microposts, ul.followers-following {
	list-style: none;
	padding-left: 0;
}

ul.user-microposts li, ul.followers-following li {
	border-top: 1px solid #e8e8e8;
	padding: 5px 0 5px;
}

/* Footer */
footer {
	height: 50px;
	
	width: 100%;
	border-top: 1px solid #eeeeee;;
}

footer .container {
	margin-top: 15px;
}

footer p {
	position: absolute;
}

footer nav {
	float: right;
}

footer nav li {
	display: inline-block;
	padding: 0 10px;
}